FIREBASE_PROJECT_ID=aia-arquitectos-730e8
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@aia-arquitectos-730e8.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END RSA PRIVATE KEY-----\n"
PORT=3000
